{% extends "base.html"%}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}


<h1>{{ post.title }}</h1>
<p>By: {{ post.author.first_name }} {{ post.author.last_name }} - <small>{{ post.post_date }}</small></p>

<hr><br>

{{ post.body }}

<br><br><br>

<a href="{% url 'home' %}" class="btn btn-primary">Back</a>

{% if user.is_authenticated %}

{% if user.id == post.author.id %}

<a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit</a>
<a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>

{% endif %}

<br><br>
<hr><br>

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if liked %}

    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
    
    {% else %}

    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-info btn-sm">Like</button>
    
    {% endif %}

    - {{ total_likes }} likes

</form>

{% else %}

<br><br>
<hr><br>

<p><a href="{% url 'login' %}">Login</a> to like - {{ total_likes }} likes</p>

{% endif %}

{% endblock %}