{% extends "base.html"%}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}


<h1>{{ post.title }}</h1>
<p>By: {{ post.author.first_name }} {{ post.author.last_name }} - <small>{{ post.post_date }}</small></p>

<hr><br>

{% if post.header_image %}

<img src="{{ post.header_image.url }}" width="300" height="250">

<br><br>

{% endif %}

{{ post.body|safe }}


<br><br><br>

<a href="{% url 'home' %}" class="btn btn-primary">Back</a>

{% if user.is_authenticated %}

{% if user.id == post.author.id %}

<a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit</a>
<a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>

{% endif %}

<br><br>
<hr><br>

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if liked %}

    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
    
    {% else %}

    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-info btn-sm">Like</button>
    
    {% endif %}

    - {{ total_likes }} likes

</form>

{% else %}

<br><br>
<hr><br>

<p><a href="{% url 'login' %}">Login</a> to like - {{ total_likes }} likes</p>

{% endif %}

<br><br>
<hr><br>

<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="{{ post.author.userprofile.profile_pic.url }}" class="card-img">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
          <p class="small text-muted">
              {% if post.author.userprofile.facebook_url %}
              <a href="{{ post.author.userprofile.facebook_url }}"><img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384021.svg" width="20" height="20"></a>
              {% endif %} 

              {% if post.author.userprofile.instagram_url %}
              | <a href="{{ post.author.userprofile.instagram_url }}"><img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384031.svg" width="20" height="20"></a>
              {% endif %}

              {% if post.author.userprofile.twitter_url %}
              | <a href="{{ post.author.userprofile.twitter_url }}"><img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384033.svg" width="20" height="20"></a>
              {% endif %}
          </p>
          <p class="card-text">{{ post.author.userprofile.bio }}</p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}