{% extends "base.html"%}

{% block title%}Delete Post{% endblock %}

{% block content%}

{% if user.is_authenticated %}

<h1>Delete: {{ post.title }}</h1>
<p>{{ post.body | slice:":200" }}</p>
<br><br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <h3>Are you sure you want to delete?</h3>
        <br>
        <button class="btn btn-danger">Delete</button>
        <a href="{% url 'article_detail' post.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% else %}

<br>

<h5>You are not allowed to delete this post.</h5>

{% endif %}

{% endblock %}