{% extends "base.html"%}

{% block title%}Edit Post{% endblock %}

{% block content%}

{% if user.is_authenticated %}

{% if user.id == post.author.id %}

<h1>Update Post...</h1>
<br><br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {{form.media}}
        <button class="btn btn-primary">Update</button>
        <a href="{% url 'article_detail' post.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% else %}

<br>

<h5>You are not allowed to edit this post.</h5>

{% endif %}

{% else %}

<br>

<h5><a href="{% url 'login' %}">Login Here</a> to edit this post.</h5>

{% endif %}

{% endblock %}